
#logo{
    width: 475px;
    animation: hw5_move 5s;
}


@keyframes hw5_move{
    from{width:25px;}
    to {width:475px;}
    0% {opacity: 0;} 
    100% {opacity: 1;} 
        
}

body{
    font-family:'Poppins','Serif';
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* add flex. html in github need to do 4, 5*/

.nav_links {
    display: flex;
    flex-direction: column;
}
a:hover{

}


a:visited{
    color: #00FF;
}

.card > header{
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.card{
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-basis: 450px;
}

.pricing{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}


@media print{
    
}